################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App_Browsers
/bin_x64
/App_Config/Prefetch
/App_Config/Security
/App_Config/Include/Captcha.config
/App_Config/Include/DataFolder.config.example
/App_Config/Include/EventHandler.config.example
/App_Config/Include/ForwardingSecurityEvents.config.example
/App_Config/Include/ja-JP.config.example
/App_Config/Include/LiveMode.config.example
/App_Config/Include/ScalabilitySettings.config.example
/App_Config/Include/Sitecore.Analytics.ExcludeRobots.config
/App_Config/Include/Sitecore.AntiCsrf.config
/App_Config/Include/Sitecore.Buckets.config
/App_Config/Include/Sitecore.Buckets.Scaling.config.example
/App_Config/Include/Sitecore.Buckets.WarmupQueries.config.example
/App_Config/Include/Sitecore.ContentSearch.config
/App_Config/Include/Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config
/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Core.config
/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Master.config
/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Web.config
/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Core.config.example
/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Master.config.example
/App_Config/Include/Sitecore.ContentSearch.Lucene.Indexes.Sharded.Web.config.example
/App_Config/Include/Sitecore.ContentSearch.VerboseLogging.config.example
/App_Config/Include/Sitecore.ItemWebApi.config
/App_Config/Include/Sitecore.Mvc.config
/App_Config/Include/Sitecore.MvcAnalytics.config
/App_Config/Include/Sitecore.MvcExperienceEditor.config
/App_Config/Include/Sitecore.MvcSimulator.config
/App_Config/Include/Sitecore.PipelineProfiling.config.disabled
/App_Config/Include/Sitecore.Publishing.DedicatedInstance.config.example
/App_Config/Include/Sitecore.Publishing.EventProvider.Async.config.disabled
/App_Config/Include/Sitecore.Publishing.Optimizations.config.example
/App_Config/Include/Sitecore.Publishing.Parallel.config.disabled
/App_Config/Include/Sitecore.Publishing.Recovery.config.example
/App_Config/Include/Sitecore.Shell.MarketingAutomation.config
/App_Config/Include/Sitecore.Speak.config
/App_Config/Include/Sitecore.Speak.ItemWebApi.config
/App_Config/Include/Sitecore.Speak.Mvc.config
/App_Config/Include/Sitecore.Support.407833.config
/App_Config/Include/Sitecore.WebDAV.config
/App_Config/Include/SitecoreSettings.config.example
/App_Config/Include/SiteDefinition.config.example
/App_Config/Include/WebDeploy.config.example
/App_Config/Include/XslExtension.config.example
/Data
/App_Data/MediaCache
/obj
/packages
/sitecore
/temp
/sitecore_files
/TestWCF
/upload
/xsl
/Default.aspx
/default.css
/default.htm.sitedown
/default.js
/LaunchSitecore7.csproj.user
/LaunchSitecore7.v11.suo
/LaunchSitecore7.v12.suo
/license.txt
/webedit.css
/Web.config.Oracle
/sitecore modules/Web/Web Forms for Marketers
/App_Config/Commands.config
/App_Config/ConnectionStringsOracle.config
/App_Config/FieldTypes.config
/App_Config/Icons.config
/App_Config/LanguageDefinitions.config
/App_Config/MimeTypes.config
/App_Config/Portraits.config
/App_Config/Prototypes.config
/App_Config/XamlSharp.config
/layouts/system
/layouts/Sample Datasource Sublayout.ascx
/layouts/Sample Inner Sublayout.ascx
/layouts/Sample layout.aspx
/layouts/Sample Sublayout.ascx
/layouts/xmlcontrol.aspx
/Partenamut.BOL/bin
/Partenamut.Web/bin
/Partenamut.BOL/obj
/Partenamut.Web/obj
Partenamut.Web/Properties/PublishProfiles/Nele.pubxml.user
Partenamut.v11.suo
_Dependencies/
